---
layout: default
slug: home
---

{% capture index %}{% include index.md %}{% endcapture %}
{{ index | markdownify }}

<h2 id="reviews">Reviews</h2>
<table class="homepage-posts">
    <thead>
        <tr>
            <th>Brand</th>
            <th>Variety</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
    {% for post in site.posts %}
        <tr>
            <td><a href="{{ site.url }}{{ post.url }}">{% if post.brand %}{{ post.brand }}{% else %}{{ post.title }}{% endif %}</a></td>
            <td>{{ post.variety }}</td>
            <td class="post-date">{{ post.date | date: '%m/%d/%Y' }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
