<aside class="sidebar">
    <div class="intro">{{ site.description }}</div>
    <a class="skip-link visuallyhidden focusable" href="#main">Skip to Main Content</a>

    <nav class="sidebar-nav" role="navigation">
        <ul>
    {% for link in site.navigation %}
        {% if link.internal %}
            <li><a {% if page.slug == link.slug %} class="sidebar-nav-active" {% endif %} href="{{ site.url }}/{{ link.path }}">{{ link.label }}</a></li>
        {% else %}
            <li><a href="{{ link.url }}">{{ link.label }}</a></li>
        {% endif %}
    {% endfor %}
        </ul>
    </nav>

{% comment %}
    Show recent reviews in the sidebar if this isn't the homepage
{% endcomment %}
{% if page.url != '/' %}
    <h2>Reviews</h2>
    <ul class="posts">
    {% for post in site.posts limit:5 %}
        <li>
            <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
            <div class="post-date">{{ post.date | date: '%m/%d/%Y' }}</div>
        </li>
    {% endfor %}
    </ul>
    <a href="{{ site.url }}/#reviews">See all</a> ⇒
{% endif %}

</aside>
